@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    12<br />
    Tallaght IT, Tallaght<br />
    <abbr title="Phone">P:</abbr>
    087.123.4567
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">martin@m&kcoffeelocator.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">keith@m@kcoffeelocator.com</a>
</address>
<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit"value="send" />
</form>