@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>M&k Coffee Locator</h1>
    <p class="lead">Add, Edit and Delete Coffee Stores, view store's latest reviews, view most highly rated views in specific location </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Coffee Store's Index</h2>
        <p>
            List of Coffee Stores.
        </p>
        <p><a class="btn btn-default">@Html.ActionLink("Coffee Store Index", "StoreIndex", "Coffee") &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Review's Index</h2>
        <p>List of Reviews.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Drinks</h2>
        <p>List of Drinks.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>